<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--meta:vp 响应式布局-->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<!--meta:compat IE7兼容-->
	<meta http-equiv="X-UA-Compatible" content="IE=7"/>
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="__PUBLIC__/css/all.css">
	<script src="__PUBLIC__/js/jquery.2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap-datepicker.js"></script>
	