<body class="black-body"style="background-image:url(__PUBLIC__/images/bg/bg3.jpg);background-repeat:no-repeat;background-size:cover;background-size:contain:; ">
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="__APP__/Home/Index/"><i class="fa fa-object-ungroup"></i> BarberShopUMS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="navbar-link"><a href="__APP__/Home/Index/"><img src="__PUBLIC__/images/icon/back-b.png" width="20px"alt="">  欢迎页面</a></li>
            <li class="navbar-link navbar-link-1"><a href="__APP__/Home/User/addUser"><img src="__PUBLIC__/images/icon/zc-b.png" width="20px"alt="">  新客办卡</a></li>
            <li class="navbar-link navbar-link-2"><a href="__APP__/Home/User/"><img src="__PUBLIC__/images/icon/rmb-b.png" width="20px"alt="">  会员操作</a></li>
            <!-- <li class="navbar-link navbar-link-3"><a href="#"><img src="__PUBLIC__/images/icon/jf-b.png" width="20px"alt="">  积分系统</a></li> -->
            <li class="navbar-link navbar-link-4"><a href="__APP__/Home/System/"><img src="__PUBLIC__/images/icon/sys-b.png" width="20px"alt="">  系统设置</a></li>
            <li class="navbar-link navbar-link-5"><a href="__APP__/Home/Report/"><img src="__PUBLIC__/images/icon/report-b.png" width="20px"alt="">  报表</a></li>
            <li class="navbar-link navbar-link-6"><a href="__APP__/Home/Help/"><img src="__PUBLIC__/images/icon/help-b.png" width="20px"alt="">  联系帮助</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li ><a title="退出系统" href="__APP__/Home/Login/logout"><img src="__PUBLIC__/images/icon/logout-r.png" width="20px"alt="">  <font class="red-font">退出</font></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>
  